# Voice Signal Preprocess
# Copyright (C) 2001-2020 NationalChip Co., Ltd
# ALL RIGHTS RESERVED!
#
# Kconfig:
#
#---------------------------------------------------------------------------------#

if LVP_APP_IIC_TEST
    choice
        prompt "IIC Mode Choice"
        default MASTER

        config LVP_APP_IIC_TEST_MASTER
            bool "IIC MASTER"

        config LVP_APP_IIC_TEST_SLAVE
            bool "IIC SLAVE"

    endchoice
endif


